/* 간격 */
.marginBottom {
	margin-bottom: 30px;
}

/* 폰트 사이즈 */
.largeTitle {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #DB574D;
	margin: 50px;
}
  
.middleTitle {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

/* 입력폼 */
input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #DB574D;
	text-align: center;
	width: 300px;
	height: 50px;
}

input:focus {
	outline: none;
  }

/* 버튼 */
.btn {
	background-color: #DB574D;
	border: none;
	border-radius: 25px;
	text-align: center;
	padding: 5px 20px;
	color: white;
	font-size: 12px;
}

.btn-empty {
	background-color: transparent;
	border: 1px solid #DB574D;
	border-radius: 25px;
	text-align: center;
	padding: 5px 20px;
	color: #DB574D;
	font-size: 12px;
	margin: 0 30px;
}

.btn-selected {
	background-color: #DB574D;
	border: none;
	border-radius: 25px;
	text-align: center;
	padding: 5px 20px;
	color: white;
	font-size: 12px;
	margin: 0 30px;
}


video {
	width: 500px;
	height: auto;
}